AnomalousDiffusion/programs/MMS/MMSPsiV/Saida/R3b_R4b_history.csv
AnomalousDiffusion/programs/MMS/MMSPsiV/Saida/R3a_R4a_history.csv
AnomalousDiffusion/programs/MMS/MMSPsiV/Saida/R5_theta_one_history.csv
